doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Cognitio
    link(rel='stylesheet' href='./dist/css/main.css')
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' media='screen' href='main.css')
    script(src='main.js')
    // Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Dekko|Righteous")


  body
    section.hero.is-dark.is-large#cognitio-main
      .hero-head
        header.navbar
          .container
            #navbarMenuHeroC.navbar-menu
              .navbar-end
                a.navbar-item(href='index.html')
                  | Other Events
      .hero-body
        .container.has-text-centered
          h1.is-size-1.cognitio-font COGNITIO
          h2.subtitle The Technical festival of I.T. Gopeshwar

    section.hero.is-success.is-medium
      .hero-body
        .container.has-text-centered
          h1.is-size-1.cognitio-font About Cognitio
            

    section.hero.is-dark.is-medium#cognitio-events-section
      .container.has-text-centered
        h1.is-size-1.cognitio-font Events
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Computer Science Engineering
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns.isgapless
                  .column
                    p 
                      strong Events 
                  .column
                    p 
                      strong Description
                .columns.isgapless
                  .column
                    p Hackathon 
                  .column
                    p A hackathon is a design sprint-like event in which computer programmers and others involved in software development, including graphic designers, interface designers, project managers, and others, often including subject-matter-experts, collaborate intensively on software projects.
                .columns.isgapless
                  .column
                    p Fastest Coding 
                  .column
                    p  Fastest Java Coding Event
                .columns.isgapless
                  .column
                    p Error Finding
                  .column
                    p Error Finding is the process of finding and resolving defects or problems within a computer program that prevents its correct operation.
                .columns.isgapless
                  .column
                    p LAN Gaming 
                  .column
                    p CS:GO and NFS MostWanted are the Lan games which will be organized by us under this section.
                

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Electronics Engineering
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  .columns.isgapless
                    .column
                      p
                        strong Events
                    .column
                      p
                        strong Description
                  .columns.isgapless
                    .column
                      p Elektra
                    .column
                      p A three round event where in the first round participants will have to face a quiz. The second round is testing components using multi-meter and the third round requires participants to design a circuit on bread-board. 
                  .columns.isgapless
                    .column
                      p  Miniature
                    .column
                      p Integrated Circuit testing of Basic Gates (AND, NAND, NOR, XOR, OR)
                  .columns.isgapless
                    .column
                      p Transis
                    .column
                      p Participants will have to generate 3 type of wave functions using function generator.

      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Electrical Engineering
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns.isgapless
                  .column
                    p
                      strong Events
                  .column
                    p
                      strong Description
                .columns.isgapless
                  .column
                    p Fastest MATLAB Simulation
                  .column
                    p The participants will have to draw the simulation network from the topics they have studied in basic electrical engineering. 
                .columns.isgapless
                  .column
                    p Microprocessor Coding
                  .column
                    p The participants will be asked to perform basic logical (merging, insertion, deletion etc.) and arithmetic operations (addition, subtraction, multiplication & division) of microprocessor 8085 & 8086.
                .columns.isgapless
                  .column
                    p  Poster Presentation
                  .column
                    p Participants interested in drawing & poster making can take part in this competition. 
                .columns.isgapless
                  .column
                    p  Circuit Designing
                  .column
                    p Circuit designing involves the designing of basic and daily use circuits like extension board, circuit of tube light etc. Students are requested to study about basic circuits and if any doubt occurs the can contact at Basic Electrical Engineering Lab.
                .columns.isgapless
                  .column
                    p Technical Crossword
                  .column
                    p This involves the questions from basic electrical and is open to all electrical branches. Participants are requested to go through basic concepts of electrical engineering.
                .columns.isgapless
                  .column
                    p Project Contest
                  .column
                    p The project contest includes making any small project on any relevant ideas related to electrical engineering or any other topics. 

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Mechanical Engineering
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  .columns.isgapless
                    .column
                      p
                        strong Events
                    .column
                      p
                        strong Description
                  .columns.isgapless
                    .column
                      p CADWorks
                    .column
                      p Participants will be provided with two dimensional drawing and they have to generate required outcome on the specified modeling software in the given time period.
                  .columns.isgapless
                    .column
                      p MechDraw
                    .column
                      p The participants will be provided with a two dimensional sketch of parts of an unassembled drawing and they have to create an assembled drawing.
                  .columns.isgapless
                    .column
                      p Real Steel
                    .column
                      p Participants have to create a specified job from mild steel or wooden block with good finishing.
                  .columns.isgapless
                    .column
                      p Creator
                    .column
                      p The participants will have to assemble the engine parts provided, in the given time period.
                  .columns.isgapless
                    .column
                      p V. Detective_M
                    .column
                      p Participants will have to find the hidden parts which will be hidden near by the respected machine on the basis of the clue.
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Civil Engineering
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns.isgapless
                  .column
                    p 
                      strong Events 
                  .column
                    p 
                      strong Description
                .columns.isgapless
                  .column
                    p District-X
                  .column
                    p Planning of a town on E.D. sheet. 
                .columns.isgapless
                  .column
                    p Corner Cottage
                  .column
                    p Planning of house with the help of 3D Home Architecture software. 
                .columns.isgapless
                  .column
                    p Pulaski
                  .column
                    p Making a bridge using ice cream sticks.


        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Informal Events
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  .columns.isgapless
                    .column
                     p 
                      strong Events 
                    .column
                     p 
                      strong Description
                  .columns.isgapless
                    .column
                      p Treasure Hunt
                    .column
                      p Multiple groups will be provided different sets of rules leading to a single final task. First group to achieve the final task will win. 
                  .columns.isgapless
                    .column
                      p Mad-Ads
                    .column
                      p Participants will be provided almost impossible to sell products and they will try to sell them to normal users. 
                  .columns.isgapless
                    .column
                      p Funk from Junk
                    .column
                      p Making creative and useful things using scrap material only.
                  .columns.isgapless
                    .column
                      p Photoshop Battle
                    .column
                      p A single photo will be provided to the participants which will have to be creatively edited using GIMP/Photoshop. The best edit will win as decided by the judges. 
                  .columns.isgapless
                    .column
                      p Akhbaar Katha
                    .column
                      p Participants will have to form stories using newspaper cuttings.
                  .columns.isgapless
                    .column
                      p Paper Plane Challenge
                    .column
                      p The participant whose paper plane will reach the longest distance will win.
                  .columns.isgapless
                    .column
                      p Technical Quiz
                    .column
                      p Quiz among the participants relative to their respective branches. 
  script(type="text/javascript" src="./dist/js/accordion.js")
