doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Cognitio
    link(rel='stylesheet' href='./dist/css/main.css')
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' media='screen' href='main.css')
    script(src='main.js')
    // Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Dekko|Righteous")


  body
    section.hero.is-dark.is-large#cognitio-main
      .hero-head
        header.navbar
          .container
            #navbarMenuHeroC.navbar-menu
              .navbar-end
                a.navbar-item(href='index.html')
                  | Other Events
      .hero-body
        .container.has-text-centered
          h1.is-size-1.cognitio-font COGNITIO
          h2.subtitle The Technical festival of I.T. Gopeshwar

    section.hero.is-success.is-medium
      .hero-body
        .container.has-text-centered
          h1.is-size-1.cognitio-font About Cognitio

    section.hero.is-dark.is-medium#cognitio-events-section
      .container.has-text-centered
        h1.is-size-1.cognitio-font Events
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Computer Science Engineering
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns.isgapless
                  .column
                    p Events 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Hackathon 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Fastest Coding 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Error Finding
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p LAN Gaming 
                  .column
                    p Description
                

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Electronics Engineering
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  .columns.isgapless
                    .column
                      p Events 
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p Hackathon 
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p Fastest Coding 
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p Error Finding
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p LAN Gaming 
                    .column
                      p Description
      
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Electrical Engineering
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns.isgapless
                  .column
                    p Events 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Hackathon 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Fastest Coding 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Error Finding
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p LAN Gaming 
                  .column
                    p Description

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Mechanical Engineering
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  .columns.isgapless
                    .column
                     p Events 
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p Hackathon 
                  .column
                      p Description
                  .columns.isgapless
                    .column
                      p Fastest Coding 
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p Error Finding
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p LAN Gaming 
                    .column
                      p Description
      
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Civil Engineering
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns.isgapless
                  .column
                    p Events 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Hackathon 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Fastest Coding 
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p Error Finding
                  .column
                    p Description
                .columns.isgapless
                  .column
                    p LAN Gaming 
                  .column
                    p Description

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Informal Events
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  .columns.isgapless
                    .column
                     p Events 
                    .column
                     p Description
                  .columns.isgapless
                    .column
                      p Hackathon 
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p Fastest Coding 
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p Error Finding
                    .column
                      p Description
                  .columns.isgapless
                    .column
                      p LAN Gaming 
                    .column
                      p Description
  script(type="text/javascript" src="./dist/js/accordion.js")
        