doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Page Title
    link(rel='stylesheet' href='./dist/css/main.css')
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' media='screen' href='main.css')
    script(type="text/javascript" src='/dist/js/main.js')
    // Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Dekko|Righteous")

  body
    section.hero.is-dark.is-large#enthusia-main
      .hero-body
        .container.has-text-centered
          h1.is-size-1.enthusia-font Enthusia
          h2.subtitle The Sports festival of I.T. Gopeshwar

    section.hero.is-light.is-medium 
      .hero-body
        .container.has-text-centered
          h1.is-size-1.enthusia-font About Enthusia
    
    section.hero.is-dark.is-medium#enthusia-events-section
      .container.has-text-centered
        h1.is-size-1.cognitio-font Events
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Volleyball
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Kabaddi
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Chess
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Carrom
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Arm Wrestling
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
  script(type="text/javascript" src="./dist/js/accordion.js")
      


  
        
