doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Page Title
    link(rel='stylesheet' href='./dist/css/main.css')
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' media='screen' href='main.css')
    script(type="text/javascript" src='/dist/js/main.js')
    // Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Dekko|Righteous")

  body
    section.hero.is-dark.is-large#enthusia-main
      .hero-head
        header.navbar
          .container
            #navbarMenuHeroC.navbar-menu
              .navbar-end
                a.navbar-item(href='index.html')
                  | Other Events
      .hero-body
        .container.has-text-centered
          h1.is-size-1.enthusia-font Enthusia
          h2.subtitle The Sports festival of I.T. Gopeshwar

    section.hero.is-light.is-medium 
      .hero-body
        .container.has-text-centered
          h1.is-size-1.enthusia-font About Enthusia
    
    section.hero.is-dark.is-medium#enthusia-events-section
      .container.has-text-centered
        h1.is-size-1.cognitio-font Events
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Volleyball
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns
                  .column
                    p Description 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  

      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Kabaddi
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns
                  .column
                    p Description 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Chess
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  .columns
                    .column
                      p Description 
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      
      .columns(style="margin:1rem;")
        .column
          .card
            header.card-header.accordion-full
              p.card-header-title Carrom
              a.card-header-icon(aria-label="more-options")
                span.icon
                  i(class="fas fa-angle-down" aria-hidden="true")
            .card-content.panel
              .content
                .columns
                  .column
                    p Description 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        .column
            .card
              header.card-header.accordion-full
                p.card-header-title Arm Wrestling
                a.card-header-icon(aria-label="more-options")
                  span.icon
                    i(class="fas fa-angle-down" aria-hidden="true")
              .card-content.panel
                .content
                  .columns
                    .column
                      p Description 
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  script(type="text/javascript" src="./dist/js/accordion.js")
      


  
        
