doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Cognitio
  link(rel='stylesheet' href='./dist/css/main.css')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')

body
  section.hero.is-dark.is-medium
    // Hero head: will stick at the top
    .hero-head
      header.navbar
        .container
          #navbarMenuHeroC.navbar-menu
            .navbar-end
              a.navbar-item.is-active(href='#cognitio_section')
                | Cognitio
              a.navbar-item(href='#pakhi_section')
                | Pakhi
              a.navbar-item(href='#enthusia_section')
                | Enthusia
              a.navbar-item(href='#')
                | About Us
    // Hero content: will be in the middle
    .hero-body
      .container.has-text-centered
        h1.is-size-1 ABHIYANTRIKOTSAV
        h2.subtitle The annual engineering festival of I.T. Gopeshwar

        a.button.is-light Know More

    section.all-fests.columns.is-gapless
      .column
        section.hero.is-small#cognitio
          .hero-body
            .has-text-centered
              h1.title Cognitio
      .column
        section.hero.is-small#paakhi
          .hero-body
            .has-text-centered
              h1.title Paakhi
      .column
        section.hero.is-small#enthusia
          .hero-body
            .has-text-centered
              h1.title Enthusia
