doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Cognitio
  link(rel='stylesheet' href='./dist/css/main.css')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')

body
  section.hero.is-dark.is-bold.is-large
    .hero-head
      header.navbar
        .container
          #navbarMenuHeroC.navbar-menu
            .navbar-end
              a.navbar-item.is-active(href='#cognitio_section')
                | Cognitio
              a.navbar-item(href='#pakhi_section')
                | Pakhi
              a.navbar-item(href='#enthusia_section')
                | Enthusia
              a.navbar-item(href='#enthusia_section')
                | Udhyamshala
              a.navbar-item(href='#')
                | About Us
    .hero-body#main_body
      .container.has-text-centered
        h1.title  
          | Abhiyantrikotsav
        h2.subtitle
          | 2018

      
  section#cognitio_section.hero.is-medium
    .hero-body
      .container.has-text-left
        h1.title
          |COGNITIO
        h2.subtitle
          | A Technical Fest
      
      
     
  section#pakhi_section.hero.is-medium
    .hero-body
      .container.has-text-right
        h1.title.pakhi__heading
          |PAKHI
        h2.subtitle.pakhi__heading
          | A Cultural Fest
      
      
      
  section#enthusia_section.hero.is-medium
    .hero-body
      .container.has-text-left
        h1.title
          |ENTHUSIA
        h2.subtitle
          | A Sports Fest

  footer.footer.is-dark.is-bold
    .container
      .content.has-text-centered  
        p
          strong Designed By
            |  Debug Studios

      
  
