doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Abhiyantrikotsav
  link(rel='stylesheet' href='./dist/css/main.css')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
  script(src="./dist/js/particles.min.js")
  // Fonts
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Dekko|Righteous")

body

  section.hero.is-dark.is-medium
    // Hero head: will stick at the top
    .hero-head#particles-js
      header.navbar
        .container
          #navbarMenuHeroC.navbar-menu
            .navbar-end
              a.navbar-item.is-active(href='#cognitio_section')
                | Brochure
              a.navbar-item(href='#pakhi_section')
                | Events
              a.navbar-item(href='#enthusia_section')
                | Schedule
              a.navbar-item(href='team.html')
                | Teams
              a.navbar-item(href='#')
                | About Us
    // Hero content: will be in the middle
    .hero-body#abhiyantrikotsav
      .container.has-text-centered
        h1.is-size-1.abhiyantrikotsav-font ABHIYANTRIKOTSAV
        h2.subtitle The annual engineering festival of I.T. Gopeshwar

        a.button.is-light Know More

  section.columns.is-gapless(style="margin-bottom: 0")
    .column
      section.hero.is-small.is-dark#cognitio
        .hero-body.flex-center
          a.has-text-centered(href="cognitio.html")
            h1.title.cognitio-font COGNITIO
            h2.subtitle A Technical Festival
    .column
      section.hero.is-small.is-dark#paakhi
        .hero-body.flex-center
          a.has-text-centered(href="pakhi.html")
            h1.title.paakhi-font पाखी
            h2.subtitle A Cultural Festival
    .column
      section.hero.is-small.is-dark#enthusia
        .hero-body.flex-center
          a.has-text-centered(href="enthusia.html")
            h1.title.enthusia-font ENTHUSIA
            h2.subtitle A Sports Festival

script.
  particlesJS.load('particles-js', '/src/json/particles.json');
