doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Center for Innovation Startup
  link(rel='stylesheet' href='./dist/css/main.css')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
  script(src="./dist/js/particles.min.js")
  // Fonts
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Fredericka+the+Great")

body

  section.hero.is-dark.is-medium
    .hero-body
      .container.has-text-centered.innovation
        h1.title Center For Innovation and Startup
        h2.subtitle in collaboration with TEQIP-III
          br
          | presents

  section.columns
    .column.hero.is-dark.kaavyansh
      .hero-body.has-text-centered
        h1.title Kaavyansh
        h2.subtitle An Event for the Budding Writers of the Institute

        p.content An open event for students, Faculties, Staff who write his/her own Poems and Stories.
          |  Best content is also rewarded.
          br
          br
          | Date of Event - : 14/April/2018

    .column.hero.is-dark.udhyamshaala
      .hero-body.has-text-centered
        h1.title Udhyamshaala
        h2.subtitle An Event for Idea Discussion among New Entrepreneurs of the Institute

        p.content An event for all the Students who have any idea to establish their own enterprise or an idea that can solve any social/Local Problem.
          br
          br
          | Date of Event-: 14/April/2018 at 09:30 AM