doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title पाखी
    link(rel='stylesheet' href='./dist/css/main.css')
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' media='screen' href='main.css')
    script(src='main.js')
    // Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Dekko|Righteous")

  body
    section.hero.is-dark.is-large#paakhi-main
      .hero-body
        .container.has-text-centered
          h1.is-size-1.paakhi-font पाखी
          h2.subtitle The Cultural festival of I.T. Gopeshwar

    section.hero.is-dark.is-medium 
      .hero-body
        .container.has-text-centered
          h1.is-size-1.paakhi-font About पाखी
    
    section.hero.is-light.is-medium#pakhi-events-section 
      .container.has-text-centered
        h1.is-size-1.paakhi-font Events
      .columns.is-gapless(style="margin:2rem;")
        .column.is-two-thirds
          button.accordion-half Computer Science Engineering
          .panel-half
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .column.is-two-thirds
          button.accordion-half Electronics Engineering
          .panel-half
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      

      .columns.is-gapless(style="margin:2rem;")
        .column.is-two-thirds
          button.accordion-half Electrical Engineering
          .panel-half
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .column.is-two-thirds
          button.accordion-half Mechanical Engineering
          .panel-half
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      .columns.is-gapless(style="margin:2rem;")
        .column.is-two-thirds
          button.accordion-half Civil Engineering
          .panel-half
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .column.is-two-thirds
          button.accordion-half Informal Events
          .panel-half
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  script(type="text/javascript" src="./dist/js/accordion.js")