doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title UdhyamShaala
  link(rel='stylesheet' href='./dist/css/main.css')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
  script(src="./dist/js/particles.min.js")
  // Fonts
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Dekko|Righteous")

body