$moss_river_black: #323339;
$ruby_grapefruit: #f26968;
$color_info: #7bd4cc;
$color_success: #037367;
$cognitio_1: #c7eba3ff ;
$cognitio_2: #1d8773ff ;
$cognitio_3: #67be8fff;
$enthusia_1: #009db9c1;
$enthusia_2: #0072bbf3 ;
$enthusia_3: #210076b3 ;
$enthusia_4: #bf0076c7 ;
$enthusia_5: #eb0b00c9 ;
$enthusia_6: #f26e00df ;
$enthusia_7: #f7b000e8 ;
$enthusia_8: #64ac00bb ;
$pakhi_1: #00a2a993;
$pakhi_2: #00a45ec4 ;
$pakhi_3: #007c5ca9 ;
$pakhi_4: #1d003875;
$pakhi_5: #c14400d7 ;
$pakhi_6: #e500336a;
$pakhi_7: #e3005325 ;
$pakhi_8: #00113476 ;
$pakhi_9: #eb160082 ;
