$moss_river_black: #323339;
$ruby_grapefruit: #f26968;
$color_info: #7bd4cc;
$color_success: #037367;
$cognitio_1: #c7eba3 ;
$cognitio_2: #1d8773 ;
$cognitio_3: #67be8f;
$enthusia_1: #009db9;
$enthusia_2: #0072bb ;
$enthusia_3: #210076 ;
$enthusia_4: #bf0076 ;
$enthusia_5: #eb0b00 ;
$enthusia_6: #f26e00;
$enthusia_7: #f7b000 ;
$enthusia_8: #64ac00 ;
$pakhi_1: #00a2a9;
$pakhi_2: #00a45e ;
$pakhi_3: #007c5c ;
$pakhi_4: #1d0038;
$pakhi_5: #c14400 ;
$pakhi_6: #e50033;
$pakhi_7: #e30053 ;
$pakhi_8: #001134 ;
$pakhi_9: #eb1600 ;
