#enthusia-main {
    background: linear-gradient(
        to right,
        rgba($enthusia_2, 0.7),
        rgba($enthusia_2, 0.7)
      ),
      url(../img/sport.jpeg);
      background-size: cover;
  
    cursor: pointer;
  
  }
  #enthusia-events-section{
    padding: 3rem;
    
  }

  #enthusia-events-section p{
    text-align: justify;
    
  }