#particles-js {
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: 1;
}

#abhiyantrikotsav {
  .title {
    font-size: 5rem;
    font-weight: normal;

    @media (max-width: 800px) {
      font-size: 2.5rem;
    }
  }

  .subtitle {
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 300;

    @media (max-width: 800px) {
      font-size: 1.3rem;
    }
  }
}

#cognitio {
  background: linear-gradient(
      to right,
      rgba($cognitio_2, 0.9),
      rgba($cognitio_2, 0.9)
    ),
    url(../img/pexels-photo-219101.jpeg);
  cursor: pointer;
  height: 20rem;
}

#paakhi {
  background: linear-gradient(
      to right,
      rgba($pakhi_7, 0.7),
      rgba($pakhi_7, 0.7)
    ),
    url(../img/pexels-photo-431722.jpeg);

  cursor: pointer;
  height: 20rem;
}

#enthusia {
  background: linear-gradient(
      to right,
      rgba($enthusia_2, 0.7),
      rgba($enthusia_2, 0.7)
    ),
    url(../img/sport.jpeg);

  cursor: pointer;
  height: 20rem;
}

.cognitio-font {
  font-family: "Righteous", sans-serif;
  letter-spacing: 1rem;
}

.enthusia-font {
  font-family: "AudioWide", sans-serif;
  letter-spacing: 0.5rem;
}

.paakhi-font {
  font-family: "Dekko", sans-serif;
}

.abhiyantrikotsav-font {
  font-family: "anandanamaste", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
