
#cognitio_section{
   
    background: linear-gradient(to right, rgba($cognitio_2,.95), rgba($cognitio_2,.40));
}

#pakhi_section{
    
    background: linear-gradient(to left, rgba($pakhi_6,.95), rgba($pakhi_6,.40));
}

#enthusia_section{
    
    background: linear-gradient(to right, rgba($enthusia_5,.95), rgba($enthusia_5,.40));
}
.footer {
    padding: 10px;
}