.cognitio {
    height: 80vh;
    background-color: $primary;
}

.pakhi {
    height: 80vh;
    background-color: $dark;

    &__heading{
        color: #fff;
    }
}

.enthusia {
    height: 80vh;
    background-color: $primary;
}