@font-face {
  font-family: "anandanamaste";
  src: url("anandanamaste.ttf") format("truetype");
}

@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
@import "_color.scss";

// Initial Bulma settings
$dark: $moss_river_black;
$primary: $ruby_grapefruit;
$link: $color_info;
$info: $color_info;
$success: $color_success;

@import "../../node_modules/bulma/bulma";
@import "_team.scss";
@import "_index.scss";
@import "_cognitio.scss";
@import "_pakhi.scss";
@import "_enthusia.scss";

.team {
  padding: 3rem;
}

.fest {
  padding: 5rem;
}
#events-section{
  padding: 2rem;
}

.accordion-full{
  background-color: $enthusia_7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.accordion-half{
background-color: $enthusia_7;
color: #444;
cursor: pointer;
padding: 18px;
width: 50%;
border: none;
text-align: left;
outline: none;
font-size: 20px;
transition: 0.4s;
}

.active, .accordion-full:hover{
background-color: $enthusia_6;
}

.active, .accordion-half:hover{
background-color: $enthusia_6;
}

.accordion-full:after{
content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion-half:after{
content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after{
content: "\2212";
}


.panel{
  padding: 0 18px;
  background-color: $enthusia_6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel-half{
padding: 0 18px;
background-color: $enthusia_6;
width: 50%;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}
